*{
  margin:0;
  padding:0;
  font-family:'Poppins',sans-serif;
  box-sizing: border-box;
}

body{
  background: #222;
}

.box{
  width:90%;
  max-width:470px;
  background:linear-gradient(135deg, #00feba, #5b548a);
  color:#fff;
  margin:100px auto 0;
  border-radius:20px;
  padding:40px 35px;
  text-align:center;
  margin:100px auto 0;

}

.search{
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.search input{
  color:black;
  background:#ebfffc;
  padding:10px;
  border-radius:20px;
  margin:16px;
  border:0;
  font-size:20px;
}

.search button{
  border:0;
  outline:0;
  border-radius:50%;
  background:#ebfffc;
  width:50px;
  height:50px;
}

.search button img{
  width:15px;
  height:20px;
}

.weather-icon{
  width:130px;
  margin-top:20px;
}

.weather h1{
  font-size:50px;
  font-weight:500;
}

.weather h2{
  font-size:30px;
  font-weight: 400;
}